
body{
text-align:center;
}
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #FFFFFF;
    overflow: auto;
}

.navbar b{
	width: 70%;
	background-color: #FFFFFF;
	overflow: auto;
	text-align: left;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 31%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #FFFFFF;
}

/* Style the current/active link */
.navbar a:active {
    background-color:#FFFFFF;
}



li {
    list-style-position: inside;
}


.box {
	position: relative;
    width: 90%;
    margin: 2rem;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
	text-align: center;
    background-color: #414141;
}

.button {
  background-color: coral;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
	
}
 

button:hover {   
	opacity: 0.7;   
}   

#bannering {
    width: 70%;
    height: 400px;
}

#bannering1{
	width 150%;
	height:250px;
}

#bannering2{
	width:10%;
	height: 200px;
}